# URL de conexão com o banco de dados PostgreSQL
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/mais_gestao

# Configurações do Better Auth (ajuste conforme necessário)
BETTER_AUTH_SECRET=sua-chave-secreta-aqui
BETTER_AUTH_URL=http://localhost:3333
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=